@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300');

.title {
  margin-right: 200px;
}

.book .book-body .page-wrapper .page-inner section {
  line-height: 1.7;
  font-size: 1.6rem;
  color: #3c3c3b
}

p, div {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

h1, h2, h3 {
  color: #2d3b5a
}

li, h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

code, kbd, pre, samp, .sourceLine, .sourceCode {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.btn-default {
  background-color: #3c61aa;
  border-color: #96c246;
}

a {
  color: #2d3b5a
}